<div class="container-fluid">
  <div class="">
    <div class="card FMS-card">
      <div class="card-header FMS-card-header">
        Registration
      </div>
      <div class="card-block">
        <form class="">
          <!-- Basic Details -->
          <div class="FMS-group">
            <h5 class="FMS-group-heading">Basic Information:</h5>
            <hr>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="name">Name: </label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" name="name" id="name" class="form-control FMS-input" placeholder="Name">
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="fathername">Father Name: </label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" name="fathername" id="fathername" class="form-control FMS-input"
                           placeholder="Father Name">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="mothername">Mother Name: </label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" name="mothername" id="mothername" class="form-control FMS-input"
                           placeholder="Mother Name">
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="gender-male">Gender: </label>
                  </div>
                  <div class="col-sm-9">
                    <input type="radio" name="gender" id="gender-male" class="" value="male"> Male
                    <input type="radio" name="gender" id="gender-female" class="" value="female"> Female
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="category">Category: </label>
                  </div>
                  <div class="col-sm-9">
                    <select id="category" name="category" class="form-control FMS-input">
                      <option value="ur">UR</option>
                      <option value="obc">OBC</option>
                      <option value="sc">SC</option>
                      <option value="st">ST</option>
                      <option value="def">DEF</option>
                      <option value="ue">UE</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="subcategory">Sub-Category: </label>
                  </div>
                  <div class="col-sm-9">
                    <select name="subcategory" id="subcategory" class="form-control FMS-input">
                      <option value="">None</option>
                      <option value="ph">Physically Handicapped</option>
                      <option value="freedom">Freedom Fighter</option>
                      <option value="ex">Ex. Defence Personnel</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="domicile">Domicile: </label>
                  </div>
                  <div class="col-sm-9">
                    <input type="radio" name="domicile" id="domicile" value="up"> U.P.
                    <input type="radio" name="domicile" id="domicile1" value="nonup"> Non - U.P.
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="religion">Religion: </label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" name="religion" id="religion" class="form-control FMS-input"
                           placeholder="Religion">
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- End of Basic Details -->

          <!-- Contact Details-->
          <div class="FMS-group">
            <h5 class="FMS-group-heading">Contact Details</h5>
            <hr>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="dob">Date of Birth: </label>
                  </div>
                  <div class="col-sm-9">
                    <input type="date" name="dob" id="dob" class="form-control FMS-input">
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="mobile">Mobile: </label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" name="mobile" id="mobile" class="form-control FMS-input"
                           placeholder="Mobile Number" maxlength="13">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="email">Email: </label>
                  </div>
                  <div class="col-sm-9">
                    <input type="email" name="email" id="email" class="form-control FMS-input"
                           placeholder="Email Address">
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="state">State: </label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" name="state" id="state" class="form-control FMS-input">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="address">Address: </label>
                  </div>
                  <div class="col-sm-9">
                    <textarea name="address" id="address" class="form-control FMS-input" rows="4"
                              placeholder="Address"></textarea>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="district">District: </label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" name="district" id="district" class="form-control FMS-input"
                           placeholder="District Name">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="adhar">Adhar Number: </label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" name="adhar" id="adhar" class="form-control FMS-input" placeholder="Adhar number"
                           maxlength="12">
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="fathernumber">Father Mobile: </label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" name="fathernumber" id="fathernumber" class="form-control FMS-input"
                           placeholder="Father number" maxlength="13">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="fprofession">Father Profession: </label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" name="fprofession" id="fprofession" class="form-control FMS-input"
                           placeholder="Father profession">
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- End of Contact Details-->

          <!-- Academic Details -->
          <div class="FMS-group">
            <h5 class="FMS-group-heading">Academic Details</h5>
            <hr>
            <div class="row" style="font-size: 14px;">
              <div class="col-sm-1">Exam</div>
              <div class="col-sm-2">Roll Number</div>
              <div class="col-sm-2">Passing Year</div>
              <div class="col-sm-1">Marks Obt</div>
              <div class="col-sm-1">Total Marks</div>
              <div class="col-sm-3">Subjects</div>
              <div class="col-sm-2">Medium</div>
            </div>

            <div class="row" style="font-size: 14px; margin-top:10px">
              <div class="col-sm-1">
                <select name="1oth" id="10th" class="form-control FMS-input">
                  <option value="10th" selected>10th</option>
                  <!--<option value="12th">12th</option>-->
                </select>
              </div>
              <div class="col-sm-2">
                <input type="text" name="roll_number" id="roll_number" class="form-control FMS-input">
              </div>
              <div class="col-sm-2">
                <input type="text" name="passing_year" id="passing_year" class="form-control FMS-input">
              </div>
              <div class="col-sm-1">
                <input type="text" name="marks_obt" id="marks_obt" class="form-control FMS-input">
              </div>
              <div class="col-sm-1">
                <input type="text" name="marks_total" id="marks_total" class="form-control FMS-input">
              </div>
              <div class="col-sm-3">
                <input type="text" name="subjects" id="subjects" class="form-control FMS-input">
              </div>
              <div class="col-sm-2 radio">
                <input type="radio" name="medium_1oth" value="hindi"> Hindi
                <input type="radio" name="medium_10th" value="english"> English
              </div>
            </div>

            <div class="row" style="font-size: 14px;margin-top:10px">
              <div class="col-sm-1">
                <select name="1oth" id="10th" class="form-control FMS-input">
                  <!--<option value="10th" selected>10th</option>-->
                  <option value="12th" selected>12th</option>
                </select>
              </div>
              <div class="col-sm-2">
                <input type="text" name="roll_number" id="roll_number" class="form-control FMS-input">
              </div>
              <div class="col-sm-2">
                <input type="text" name="passing_year" id="passing_year" class="form-control FMS-input">
              </div>
              <div class="col-sm-1">
                <input type="text" name="marks_obt" id="marks_obt" class="form-control FMS-input">
              </div>
              <div class="col-sm-1">
                <input type="text" name="marks_total" id="marks_total" class="form-control FMS-input">
              </div>
              <div class="col-sm-3">
                <input type="text" name="subjects" id="subjects" class="form-control FMS-input">
              </div>
              <div class="col-sm-2 radio">
                <input type="radio" name="medium_1oth" value="hindi"> Hindi
                <input type="radio" name="medium_10th" value="english"> English
              </div>
            </div>
          </div>
          <!-- End of Academic Details -->

          <!-- Admission Details -->
          <div class="FMS-group">
            <h5 class="FMS-group-heading">Admission Details</h5>
            <hr>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="course">Course: </label>
                  </div>
                  <div class="col-sm-9">
                    <select name="course" id="course" class="form-control  FMS-input">
                      <option value="bsc">B. SC.</option>
                      <option value="ba">B. A.</option>
                      <option value="ma">M. A.</option>
                      <option value="bcom">B. Com.</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="subjects_course">Subjects: </label>
                  </div>
                  <div class="col-sm-9">
                    <textarea class="form-control  FMS-input" name="subjects_course" id="subjects_course"></textarea>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="course_year">Year: </label>
                  </div>
                  <div class="col-sm-9">
                    <select name="course_year" id="course_year" class="form-control  FMS-input">
                      <option value="1">1st Year</option>
                      <option value="2">2nd Year</option>
                      <option value="3">3rd Year</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="course_fee_1">Course Fee: </label>
                  </div>
                  <div class="col-sm-3">
                    <input type="number" name="course_fee" id="course_fee_1" class="form-control FMS-input" placeholder="1st Year">
                  </div>
                  <div class="col-sm-3">
                    <input type="number" name="course_fee" id="course_fee_2" class="form-control FMS-input" placeholder="2nd Year">
                  </div>
                  <div class="col-sm-3">
                    <input type="number" name="course_fee" id="course_fee_3" class="form-control FMS-input" placeholder="3rd Year">
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="course_pay_1">Student Pay: </label>
                  </div>
                  <div class="col-sm-3">
                    <input type="number" name="course_pay_1" id="course_pay_1" placeholder="1st Year" class="form-control FMS-input">
                  </div>
                  <div class="col-sm-3">
                    <input type="number" name="course_pay_1" id="course_pay_2" placeholder="2nd Year" class="form-control FMS-input">
                  </div>
                  <div class="col-sm-3">
                    <input type="number" name="course_pay_1" id="course_pay_3" placeholder="3rd Year" class="form-control FMS-input">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="photo">Photo: </label>
                  </div>
                  <div class="col-sm-9">
                    <input type="file" class="form-control FMS-input" id="photo" name="photo">
                    <div class="FMS-photo">

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="signature">Signature: </label>
                  </div>
                  <div class="col-sm-9">
                    <input type="file" class="form-control FMS-input" name="signature" id="signature">
                    <div class="FMS-signature">

                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- End of Admission Details -->

        </form>
      </div>
    </div>
  </div>
</div>
