<div class="container FMS-login text-center">
  <div>
    <h1 class="FMS-logo">FMS</h1>
    <h5 class="FMS-welcome">Welcome to FMS</h5>
    <p class="FMS-description">FMS is a fee management system for Colleges and Schools. It will manage student details as well as fee.</p>
    <p class="FMS-access">Login to access your account</p>
  </div>
  <div>
    <form autocomplete="off">
      <div class="form-group">
        <input type="email" placeholder="Username" class="form-control FMS-input" id="username" name="username" required>
      </div>
      <div class="form-group">
        <input type="password" placeholder="Password" class="form-control FMS-input" id="password" name="password" required>
      </div>
      <div>
        <button type="submit" class="btn btn-block FMS-login-btn">Login</button>
      </div>
    </form>
    <p class="FMS-forgot"><a href="#">Forgot Password?</a></p>
  </div>
  <div>
    <p class="FMS-about">Fee Management System By Team3</p>
  </div>
</div>


