<!--Nav bar-->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded FMS-navbar" *ngIf="common.display.navbar">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand FMS-navbar-logo" routerLink="/home">FMS</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02" style="float:right;">
    <ul class="navbar-nav my-2 mt-md-0 mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/registration">Registration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/students">Students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/fee">Fee</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/courses">Courses</a>
      </li>
    </ul>
    <div class="FMS-navbar-right  my-2 my-lg-0">
      <p><i class="fa fa-sign-out"></i> Logout</p>
    </div>
  </div>


</nav>
<!-- End of Nav bar -->

<div class="FMS-main">
  <router-outlet></router-outlet>
  <!-- Routed views go here -->
</div>



<!-- Footer -->
<footer *ngIf="common.display.footer">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <span class="FMS-footer-logo">FMS</span>
      <p class="FMS-footer-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pellentesque
        eros eget blandit dictum. Donec
        ut nisi scelerisque, maximus eros ut, tempus tortor. Ut et turpis ullamcorper eros placerat porttitor in eget
        sapien. Suspendisse scelerisque, dui vitae mollis semper, nisl leo interdum urna, sit amet egestas ipsum neque
        vitae nisi. Fusce eget libero eleifend, rhoncus nunc ac, tempor lacus. Donec vulputate id quam id aliquam. </p>
    </div>

    <div class="col-md-4 col-sm-12">
      <h4 class="FMS-footer-heading">Important Links</h4>
      <ul class="FMS-footer-links">
        <li><a href="#">About</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms & Conditions</a></li>
      </ul>
    </div>

    <div class="col-md-4 col-sm-12">
      <h4 class="FMS-footer-heading">CONTACT US</h4>
      <address class="FMS-footer-address">
        Team-3 Company,<br>
        C-28, Shivalik Appartment,<br>
        Sector-4 Indira Gandhi Nagar,<br>
        Jagatpura, Jaipur - 302017
      </address>
      <p class="FMS-footer-contact">
        +918385803337<br>
        +919627256850<br>
        contact@unknown.com<br>
      </p>

    </div>
  </div>
</footer>
<p class="text-center FMS-copyright" *ngIf="common.display.copyright">
  &copy; 2017 Unknown Company
</p>
<!-- End of Footer -->
