<div class="container-fluid">
  <div class="card FMS-card">
    <div class="card-header FMS-card-header">
      Courses
      <button class="btn FMS-add-btn btn-primary" (click)="courseModalOpen(addCourseModal)"><i class="fa fa-plus"></i></button>
    </div>
    <div class="card-block table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Duration</th>
            <th>Fee</th>
            <th>Seats</th>
            <th style="max-width:60px;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of courses; let i = index">
            <td>0{{i+1}}</td>
            <td>{{course.name}}</td>
            <td>{{course.duration}} Year</td>
            <td>Rs {{course.fee}}</td>
            <td>{{course.seats}}</td>
            <td style="max-width:60px;">
              <button class="btn btn-link" (click)="editCourse(course, addCourseModal)" style="cursor:pointer"><i class="fa fa-pencil"></i></button>
              &nbsp;&nbsp;&nbsp;
              <button class="btn btn-link text-danger" (click)="deletecourse(course._id)" style="cursor:pointer"><i class="fa fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- New Course Modal -->
<ng-template #addCourseModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add New Course</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #courseForm="ngForm" (submit)="course._id ? updateCourse() : addCourse()">

    <div class="modal-body">
      <div class="row FMS-input-group">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <label class="form-control-label FMS-input-label" for="name">Name <span class="FMS-error-validation">*</span>:</label>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9">
          <input type="text" name="name" id="name" class="form-control FMS-input" [(ngModel)]="course.name" #nameField="ngModel" required>

          <div *ngIf="nameField.errors && (nameField.dirty || nameField.touched)" class="FMS-error-validation">
            <span [hidden]="!nameField.errors.required">*required</span>
          </div>

        </div>
      </div>

      <div class="row FMS-input-group">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <label class="form-control-label FMS-input-label" for="seats">Seats <span class="FMS-error-validation">*</span>:</label>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9">
          <input type="number" min="0" max="1000" name="seats" id="seats" class="form-control FMS-input" [(ngModel)]="course.seats" #seatsField="ngModel"
            required>
          <div class="FMS-error-validation" *ngIf="seatsField.errors && (seatsField.dirty || seatsField.touched)">
            <span [hidden]="!seatsField.errors.required">*required</span>
            <span [hidden]="!seatsField.errors.min">Seats should be +ve number</span>
            <span [hidden]="!seatsField.errors.max">Seats cannot be greater than 1000</span>
          </div>

        </div>
      </div>

      <div class="row FMS-input-group">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <label class="form-control-label FMS-input-label" for="fee">Fee <span class="FMS-error-validation">*</span></label>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9">
          <input type="number" name="fee" id="fee" class="form-control FMS-input" [(ngModel)]="course.fee" #feeField="ngModel" required>
          <div class="FMS-error-validation" *ngIf="feeField.errors && (feeField.dirty || feeField.touched)">
            <span [hidden]="!feeField.errors.required">*required</span>
          </div>
        </div>
      </div>

      <div class="row FMS-input-group">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <label class="form-control-label FMS-input-label" for="duration">Duration <span class="FMS-error-validation">*</span>:</label>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9">
          <input type="number" name="duration" id="duration" class="form-control FMS-input" [(ngModel)]="course.duration" #durationField="ngModel"
            required>
          <div class="FMS-error-validation" *ngIf="durationField.errors && (durationField.dirty || durationField.touched)">
            <span [hidden]="!durationField.errors.required">*required</span>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary " (click)="c('Close click')">Close</button>
      <button type="submit"  class="btn btn-primary" [disabled]="courseForm.invalid">Save</button>
    </div>
  </form>
</ng-template>
<!-- End of Modal -->
