<div class="container FMS-home-container">
  <h4 class="text-center FMS-main-heading">SEAT DETAILS</h4>
  <div class="row">
    <div class="col-sm-12 col-md-6" *ngFor="let course of courses">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-9 col-md-9" style="max-width: 70%">
              <h4 class="FMS-class">{{course.name}} 1st Year</h4>
            </div>
            <div class="col-sm-3 col-md-3 text-right" style="max-width: 30%;">
              <button class="btn btn-primary FMS-add-btn"><i class="fa fa-plus"></i></button>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-4 col-xs-4" style="max-width: 33%">
              <h5 class="FMS-maintext">{{course.firstYearFilledSeats}}</h5> <span class="FMS-subtext">Students</span>
            </div>
            <div class="col-sm-4 col-xs-4 text-center" style="max-width: 33%">
              <h5 class="FMS-maintext">{{course.seats}}</h5> <span class="FMS-subtext">Total Seats</span>
            </div>
            <div class="col-sm-4 col-xs-4 text-right" style="max-width: 33%">
              <h5 class="FMS-maintext">{{course.seats - course.firstYearFilledSeats}}</h5> <span class="FMS-subtext">Seats Available</span>
            </div>
          </div>
          <div class="progress FMS-progress">
            <div class="progress-bar" role="progressbar" style="width: 66%; height: 5px" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
