.FMS-card-block{
  font-size: 14px;
}

.FMS-profile-image{
  width: 180px;
  height: 150px;
}

.FMS-profile-signature{
  width: 180px;
  height: 60px;
}

.FMS-profile-academy{
  border: 1px solid #ccc;
  padding: 5px 10px;
  width: 100%;
}


