<div class="container-fluid">
  <div class="card FMS-card">
    <div class="card-header FMS-card-header">Student Details</div>
    <div class="card-block FMS-card-block container">

      <!-- Basic Details-->
      <div class="row FMS-margin">
        <div class="col-sm-9">

          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-3 col-xs-6 FMS-input-label text-right">Name :</div>
                <div class="col-sm-9 col-xs-6">{{studentDetails.name}}</div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-3 FMS-input-label text-right">Father :</div>
                <div class="col-sm-9">{{studentDetails.fatherName}}</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-3 FMS-input-label text-right">Mother :</div>
                <div class="col-sm-9">{{studentDetails.motherName}}</div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-3 FMS-input-label text-right">DOB :</div>
                <div class="col-sm-9">{{studentDetails.dob | date: 'dd-MMM-yy'}}</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-3 FMS-input-label text-right">Reg. No :</div>
                <div class="col-sm-9">{{studentDetails.registration}}</div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-3 FMS-input-label text-right">Roll No :</div>
                <div class="col-sm-9">{{studentDetails.rollNumber}}</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-3 FMS-input-label text-right">Mobile :</div>
                <div class="col-sm-9">{{studentDetails.mobile}}</div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-3 FMS-input-label text-right">Email :</div>
                <div class="col-sm-9">{{studentDetails.email}}</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-3 FMS-input-label text-right">Class :</div>
                <div class="col-sm-9">{{studentDetails.class}}</div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-3 FMS-input-label text-right">Year :</div>
                <div class="col-sm-9">{{studentDetails.year}} year</div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-sm-3">
          <div class="text-right">
            <img src="../../../assets/images/default_profile.png" class="FMS-profile-image img-thumbnail">
            <img src="../../../assets/images/defualt_signature.png" class="FMS-profile-signature">
          </div>
        </div>
      </div>
      <!-- End of Basic Details-->


      <!-- Academic Details-->
      <div style="margin-top: 20px">
        <h6>Academy Details</h6>
        <hr style="border-color: green;">
        <div class="row" style="font-size: 14px;">
          <div class="col-sm-1">Exam</div>
          <div class="col-sm-2">Roll No</div>
          <div class="col-sm-1">Year</div>
          <div class="col-sm-1">Marks Obt</div>
          <div class="col-sm-1">Total Marks</div>
          <div class="col-sm-3">Subjects</div>
          <div class="col-sm-1">Medium</div>
          <div class="col-sm-2">Board</div>
        </div>

        <div class="row" style="font-size: 14px; margin-top:10px">
          <div class="col-sm-1">
            <p class="FMS-profile-academy">10th</p>
          </div>
          <div class="col-sm-2">
            <p class="FMS-profile-academy">11233123</p>
          </div>
          <div class="col-sm-1">
            <p class="FMS-profile-academy">2017</p>
          </div>
          <div class="col-sm-1">
            <p class="FMS-profile-academy">500</p>
          </div>
          <div class="col-sm-1">
            <p class="FMS-profile-academy">600</p>
          </div>
          <div class="col-sm-3">
            <p class="FMS-profile-academy">Hindi, English, Math, Physics, Chemistry</p>
          </div>
          <div class="col-sm-1">
            <p class="FMS-profile-academy">Hindi</p>
          </div>
          <div class="col-sm-2">
            <p class="FMS-profile-academy">UP Board</p>
          </div>
        </div>
        <div class="row" style="font-size: 14px; margin-top:10px">
          <div class="col-sm-1">
            <p class="FMS-profile-academy">12th</p>
          </div>
          <div class="col-sm-2">
            <p class="FMS-profile-academy">11233123</p>
          </div>
          <div class="col-sm-1">
            <p class="FMS-profile-academy">2017</p>
          </div>
          <div class="col-sm-1">
            <p class="FMS-profile-academy">500</p>
          </div>
          <div class="col-sm-1">
            <p class="FMS-profile-academy">600</p>
          </div>
          <div class="col-sm-3">
            <p class="FMS-profile-academy">Hindi, English, Math, Physics, Chemistry</p>
          </div>
          <div class="col-sm-1 radio">
            <p class="FMS-profile-academy">Hindi</p>
          </div>
          <div class="col-sm-2">
            <p class="FMS-profile-academy">UP Board</p>
          </div>
        </div>
      </div>
      <!-- End of Academic Details -->

      <!-- Fee Details -->
      <div style="margin-top: 20px">
        <h6>Fee Details</h6>
        <hr style="border-color: green">
        <div>
          <ngb-tabset>
            <ngb-tab>
              <ng-template ngbTabTitle><b>1st Year</b></ng-template>
              <ng-template ngbTabContent>
                <div class="row container" style="margin-top:25px">
                  <div class="col-sm-4"><b>Payed:</b> Rs 8000</div>
                  <div class="col-sm-4 text-center"><b>Remaining:</b> Rs 0</div>
                  <div class="col-sm-4 text-right"><b>Total Fee:</b> Rs8000</div>
                </div>

                <div class="table-responsive" style="margin-top: 20px">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Date</th>
                      <th>Fee</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>01</td>
                      <td>14-July-2017</td>
                      <td>Rs2500</td>
                    </tr>
                    <tr>
                      <td>02</td>
                      <td>12-July-2017</td>
                      <td>Rs3000</td>
                    </tr>
                    <tr>
                      <td>03</td>
                      <td>12-June-2017</td>
                      <td>Rs1500</td>
                    </tr>
                    <tr>
                      <td>04</td>
                      <td>01-May-2017</td>
                      <td>Rs 1000</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle><b>2nd Year</b></ng-template>
              <ng-template ngbTabContent>
                <div class="row container" style="margin-top:25px">
                  <div class="col-sm-4"><b>Payed:</b> Rs 8000</div>
                  <div class="col-sm-4 text-center"><b>Remaining:</b> Rs 0</div>
                  <div class="col-sm-4 text-right"><b>Total Fee:</b> Rs8000</div>
                </div>

                <div class="table-responsive" style="margin-top: 20px">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Date</th>
                      <th>Fee</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>01</td>
                      <td>14-July-2017</td>
                      <td>Rs2500</td>
                    </tr>
                    <tr>
                      <td>02</td>
                      <td>12-July-2017</td>
                      <td>Rs3000</td>
                    </tr>
                    <tr>
                      <td>03</td>
                      <td>12-June-2017</td>
                      <td>Rs1500</td>
                    </tr>
                    <tr>
                      <td>04</td>
                      <td>01-May-2017</td>
                      <td>Rs 1000</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
      <!-- End of Fee Details -->

    </div>
  </div>
</div>
